.hero {
    position: relative;

    height: calc(100vh - 64px);
}

.banner {
    position: absolute;
    left: 50%;
    top: 50%;


    background: red;
    width: 60%;
    max-width: 70%;
    ;

    text-align: center;

}
